<mdc-grid>
    <mdc-grid-inner>
        <mdc-grid-cell span=6>
            <div class="demo-cell"></div>
        </mdc-grid-cell>

        <mdc-grid-cell span=3>
            <div class="demo-cell"></div>
        </mdc-grid-cell>

        <mdc-grid-cell span=2>
            <div class="demo-cell"></div>
        </mdc-grid-cell>

        <mdc-grid-cell span=1>
            <div class="demo-cell"></div>
        </mdc-grid-cell>

        <mdc-grid-cell span=3>
            <div class="demo-cell"></div>
        </mdc-grid-cell>

        <mdc-grid-cell span=1>
            <div class="demo-cell"></div>
        </mdc-grid-cell>

        <mdc-grid-cell span=8>
            <div class="demo-cell"></div>
        </mdc-grid-cell>

        <mdc-grid-cell span=6>
            <mdc-grid-inner>
                <mdc-grid-cell span=6>
                    <div class="demo-cell"></div>
                </mdc-grid-cell>

                <mdc-grid-cell span=3>
                    <div class="demo-cell"></div>
                </mdc-grid-cell>

                <mdc-grid-cell span=2>
                    <div class="demo-cell"></div>
                </mdc-grid-cell>

                <mdc-grid-cell span=1>
                    <div class="demo-cell"></div>
                </mdc-grid-cell>
            </mdc-grid-inner>
        </mdc-grid-cell>

        <mdc-grid-cell span=6>
            <mdc-grid-inner>
                <mdc-grid-cell span=3>
                    <div class="demo-cell"></div>
                </mdc-grid-cell>

                <mdc-grid-cell span=1>
                    <div class="demo-cell"></div>
                </mdc-grid-cell>

                <mdc-grid-cell span=8>
                    <div class="demo-cell"></div>
                </mdc-grid-cell>
            </mdc-grid-inner>
        </mdc-grid-cell>

    </mdc-grid-inner>
</mdc-grid>