<form class="centered-box" asp-action=@nameof(Account.Login) asp-controller=@nameof(Account)>
    <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--fullwidth">
        <input type="email" name="email" class="mdc-text-field__input" required />
        <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
                <span class="mdc-floating-label" id="EmailLabel">Email</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
        </span>
    </div>
    <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--fullwidth">
        <input type="password" name="password" class="mdc-text-field__input" required />
        <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
                <span class="mdc-floating-label" id="PasswordLabel">Password</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
        </span>
    </div>
    <button class="mdc-button mdc-button--raised mdc-layout-grid__cell--span-12">
        <span class="mdc-button__label">Login</span>
    </button>
</form>
