
<form class="centered-box" asp-controller=@nameof(Account) asp-action=@nameof(Account.Logout)>
    <mdc-button 
        id="logout" 
        button-type=Raised
        label="Logout">
    </mdc-button>
</form>
