:root {
    --mdc-theme-primary: #15b097;
    --mdc-theme-secondary: #129983;
    --mdc-theme-on-primary: #fff;
    --mdc-theme-on-secondary: #fff;
}

form, section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.mdc-text-field {
    margin-bottom: 24px;
    flex-shrink: 0;
}

.mdc-drawer .mdc-deprecated-list-item--activated {
    color: black;
}

.mdc-drawer .mdc-deprecated-list-item--activated .mdc-deprecated-list-item__graphic {
    color: #129983;
}

.mdc-drawer .mdc-deprecated-list-item {
    color: #c1c6cb;
}

.mdc-drawer .mdc-deprecated-list-item--activated {
    color: #40464d;
}

.mdc-drawer .mdc-deprecated-list-item__text{
    font-weight: 600;
}

.mdc-button:hover {
    background-color: #129983;
}

.company-logo {
    margin: 32px 0 0 32px;
    width: 150px;
}