html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.mdc-text-field {
    margin-bottom: 24px;
    flex-shrink: 0;
}