@model ChartsModel
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell">
            <div class="mdc-card demo-card">
                <canvas id="doughnut"></canvas>
            </div>
        </div>
        <div class="mdc-layout-grid__cell">
            <div class="mdc-card demo-card">
                <canvas id="pie"></canvas>
            </div>
        </div>
        <div class="mdc-layout-grid__cell">
            <div class="mdc-card demo-card">
                <canvas id="line"></canvas>
            </div>
        </div>
        <div class="mdc-layout-grid__cell">
            <div class="mdc-card demo-card">
                <canvas id="bar"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const labels = @Html.Raw(Model.Labels.ToJson());
        const colours = @Html.Raw(Model.Colours.ToJson());
        const data = @Html.Raw(Model.Data.ToJson());
        chart('pie', labels, colours, data);
        chart('doughnut', labels, colours, data);
        chart('line', labels, colours, data);
        chart('bar', labels, colours, data);
    </script>
}