@model ChartsModel

<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell">
            <div class="mdc-card demo-card">
                <canvas id="doughnut"></canvas>
            </div>
        </div>
        <div class="mdc-layout-grid__cell">
            <div class="mdc-card demo-card">
                <canvas id="pie"></canvas>
            </div>
        </div>
        <div class="mdc-layout-grid__cell">
            <div class="mdc-card demo-card">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        doughnut_chart('doughnut');
        pie_chart('pie');
    </script>
}