<div class="centered-box">
    <mdc-typography type=Headline5>Razor MaterialCompontents Examples</mdc-typography>
    <mdc-typography type=Body1>Navigate to view available razor material components</mdc-typography>
</div>