@{
    Layout = this.Context.Request.IsHtmx() ? "" : "_Layout";
}

<div class="mdc-drawer-app-content">
    <partial name="~/Views/Login/Shared/_LoginAppBar.cshtml" />
    <main class="mdc-top-app-bar--fixed-adjust">
        @RenderBody()
        @await RenderSectionAsync("Scripts", required: false)
    </main>
</div>