
<form class="centered-box" asp-controller=@nameof(Logout)>
    <button class="mdc-button mdc-button--raised mdc-layout-grid__cell--span-12">
        <span class="mdc-button__label">Logout</span>
    </button>
</form>
