
<form>
    <label class="mdc-text-field mdc-text-field--filled">
        <span class="mdc-text-field__ripple"></span>
        <span class="mdc-floating-label" id="first-name-label">First name</span>
        <input type="text" name="FirstName" class="mdc-text-field__input">
        <span class="mdc-line-ripple"></span>
    </label>

    <label class="mdc-text-field mdc-text-field--filled">
        <span class="mdc-text-field__ripple"></span>
        <span class="mdc-floating-label" id="last-name-label">Last name</span>
        <input type="text" name="LastName" class="mdc-text-field__input">
        <span class="mdc-line-ripple"></span>
    </label>
    <button type="submit" class="mdc-button greet-button">
        <div class="mdc-button__ripple"></div>
        <div class="mdc-button__label">Login</div>
    </button>
</form>

<h1 class="mdc-typography--headline1">Material headline 1</h1>
<h1 class="mdc-typography--headline2">Material headline 2</h1>
<h1 class="mdc-typography--headline3">Material headline 3</h1>
<p>
    A starter kit to get you up and running with Material Components for the Web. <a href="https://glitch.com/~material-starter-kit">Remix and start theming.</a>
</p>
<br>

<button class="mdc-button mdc-button--raised">
    Hello World
</button>

<aside class="mdc-drawer">
    <div class="mdc-drawer__content">
        <nav class="mdc-deprecated-list">
            <a class="mdc-deprecated-list-item mdc-deprecated-list-item--activated" href="#" aria-current="page">
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">inbox</i>
                <span class="mdc-deprecated-list-item__text">Inbox</span>
            </a>
            <a class="mdc-deprecated-list-item" href="#">
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">send</i>
                <span class="mdc-deprecated-list-item__text">Outgoing</span>
            </a>
            <a class="mdc-deprecated-list-item" href="#">
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">drafts</i>
                <span class="mdc-deprecated-list-item__text">Drafts</span>
            </a>
        </nav>
    </div>
</aside>