@model HomeModel
<partial name="~/Views/Shared/_Menu.cshtml" />

<div class="mdc-drawer-scrim"></div>

<div class="mdc-drawer-app-content">

    <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
                <span class="mdc-top-app-bar__title">Title</span>
            </section>
        </div>
    </header>

    <main class="mdc-top-app-bar--fixed-adjust">

    </main>
</div>