@model FieldsModel

<form>
    <label class="mdc-text-field mdc-text-field--filled">
        <span class="mdc-text-field__ripple"></span>
        <span class="mdc-floating-label" id="first-name-label">First name</span>
        <input type="text" name="FirstName" class="mdc-text-field__input">
        <span class="mdc-line-ripple"></span>
    </label>

    <label class="mdc-text-field mdc-text-field--filled">
        <span class="mdc-text-field__ripple"></span>
        <span class="mdc-floating-label" id="last-name-label">Last name</span>
        <input type="text" name="LastName" class="mdc-text-field__input">
        <span class="mdc-line-ripple"></span>
    </label>
</form>