@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>HelloRazorMaterial</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/drawer-dialog.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/@(nameof(HelloRazorMaterial)).styles.css" /></head>
<body translate="no">
<script src="https://unpkg.com/htmx.org@2.0.1"></script>

    <aside class="mdc-drawer mdc-drawer--modal">
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-deprecated-list-item mdc-deprecated-list-item--activated" href="/" tabindex="0" aria-current="page">
                <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">home</i>
                <span class="mdc-deprecated-list-item__text">Home</span>
            </a>
            <a class="mdc-deprecated-list-item" href="#/usage" tabindex="0">
                <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">trending_up</i>
                <span class="mdc-deprecated-list-item__text">Usage</span>
            </a>
            <a class="mdc-deprecated-list-item" href="#/contact" tabindex="0">
                <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">contact</i>
                <span class="mdc-deprecated-list-item__text">Contact</span>
            </a>
        </nav>
    </div>
</aside>

<div class="mdc-drawer-scrim"></div>

<div class="mdc-drawer-app-content">

    <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
                <span class="mdc-top-app-bar__title">Title</span>
            </section>
        </div>
    </header>

    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)

</div>
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>