@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HelloRazorMaterial.Controllers.Home2.Home2Model

@{
    Layout = "_Layout2";
}

<main class="mdc-top-app-bar--fixed-adjust">
    <form>
        Content
    </form>
</main>

