@model TextModel
<partial name="~/Views/Shared/_Menu.cshtml" />

<section>
    <h1 class="mdc-typography--headline1">Material headline 1</h1>
    <h1 class="mdc-typography--headline2">Material headline 2</h1>
    <h1 class="mdc-typography--headline3">Material headline 3</h1>
    <p>
        A starter kit to get you up and running with Material Components for the Web. <a href="https://glitch.com/~material-starter-kit">Remix and start theming.</a>
    </p>
    <br>
</section>