@model TextModel

<div class="centered-box">
    <mdc-typography type="Headline1">Headline 1</mdc-typography>
    <mdc-typography type="Headline2">Headline 2</mdc-typography>
    <mdc-typography type="Headline3">Headline 3</mdc-typography>
    <mdc-typography type="Headline4">Headline 4</mdc-typography>
    <mdc-typography type="Headline5">Headline 5</mdc-typography>
    <mdc-typography type="Headline6">Headline 6</mdc-typography>
    <mdc-typography type="Subtitle1">Subtitle 1</mdc-typography>
    <mdc-typography type="Subtitle2">Subtitle 2</mdc-typography>
    <mdc-typography type="Body1">Body 1</mdc-typography>
    <mdc-typography type="Body2">Body 2</mdc-typography>
    <mdc-typography type="Caption">Caption</mdc-typography>
    <mdc-typography type="Button">Button</mdc-typography>
    <mdc-typography type="Overline">Overline</mdc-typography>
    <mdc-typography type="Overline" tag="Div">Overline Div</mdc-typography>
</div>


